<label for="title">Title</label>
<input type="text" name="blog[name]" id="title">

<label for="image">Image URL</label>
<input type="text" name="blog[image]" id="image">

<label for="body">Blog Description</label>
<textarea name="blog[body]" id="body" cols="30" rows="10"></textarea>

